In [1]:
import os
import pandas as pd

dfs = []
for subdir, _, files in os.walk("/Users/romflorentz/Documents/ClientRepos/slm-forecast/data/evaluations"):
    for file in files:
        df = pd.read_csv(os.path.join(subdir, file))
        df["Model"] = file.split(".")[0]
        dfs.append(df)

In [2]:
pd.concat(dfs).pivot_table(index="Category", columns="Model", values=["R²"], aggfunc=["mean", "std"])

                      mean
                        R²
Model               linear ratio_based ridge
Category
APP SPORTSTYLE        0.34       -0.18  0.34
FTW FORCES            0.10        0.06  0.11
FTW OTHER             0.65        0.30  0.64
FTW OUTDOOR           0.15       -0.17  0.07
FTW ROAD RUNNING      0.54        0.17  0.56
FTW SPORTSTYLE        0.49       -0.20  0.47
FTW TRAIL RUNNING     0.56        0.51  0.54
OTHER                 0.20       -1.44  0.15
SAL ALPINE            0.91        0.88  0.91
SAL BRAND PROMOTION   0.41        0.13  0.37
SAL PROTECTIVES       0.97        0.96  0.97

In [3]:
pd.concat(dfs).pivot_table(index="Model", values=[ 'MAE', 'MSE', 'RMSE', 'R²', 'MAPE', 'sMAPE',], aggfunc=["mean", "std"]).T

Model         linear  ratio_based     ridge
mean MAE    0.160909     0.196364  0.160909
     MAPE   2.858182     3.539091  2.870909
     MSE    0.044545     0.071818  0.044545
     RMSE   0.203636     0.259091  0.204545
     R²     0.483636     0.092727  0.466364
     sMAPE  2.815455     3.535455  2.827273
std  MAE    0.042768     0.062653  0.042533
     MAPE   1.274604     1.810124  1.260797
     MSE    0.022074     0.033412  0.022074
     RMSE   0.056262     0.069348  0.053733
     R²     0.286366     0.646206  0.300708
     sMAPE  1.237145     1.809510  1.224264